<p>Olá, <%= @resource.email %>!</p>

<p>Recebemos uma solicitação para redefinir a senha da sua conta. Clique no link abaixo para criar uma nova senha:</p>

<p><%= link_to "Redefinir minha senha", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a redefinição de senha, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
